.img-w-h{
  width: 200px;
  height: 200px;
}

.img-float-a {
  float:right;
  width: 600px;
  height: 300px;
}
.img-float-b {
  float:left;
  width: 600px;
  height: 300px;
}
.img-float-c {
  float:right;
  width: 600px;
  height: 300px;
}
.img-float-d{
  float:left;
  width: 600px;
  height: 300px;
}

/*
*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;

}*/

header{
    background-color: rgb(162, 192, 192);
}

/*
main {
  width: 600px;
  float: right;
}

ul{
    float: right;
    list-style: none;
    margin-top:25px;
}
ul li{
    
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding:5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a :hover{
    background-color: ghostwhite;
    color: #000;
}

ul li.active a {
    float: left:
    background-color: #fff;
    color:#000;
}*/

.title h1{
    color: lightblue;
}
/* Navbar container */

/*

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    /*float: left;*/
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    /*float: left;*/
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    /*float: none;*/
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }*/

  #footer {
    clear: both;
    padding: 10px;
    background-color: grey;

}